body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}